:root {
  --primary: #262b40;
  --secondary: #0061ff;

  --white: #fff;
  --black: #121212;
  --green: #19a872;
  --grey: #9e9e9e;
  --greyLight: #d5d5d5;
  --greyBlue: #8f98ab;
  --red: #f47979;
  --blueLight: #f6f8fa;

  --greyLight-rgb: 213, 213, 213;
  --black-rgb: 0, 0, 0;

  // Sizes
  --header-height: 75px;
}
